.about-content {
    padding: 50px;
    text-align: center;
  }

  .about-content h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #555;
  }
  