/* Global Styles */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  color: #333;
}

.dark-mode {
  background-color: #2a2a2a;
  color: #f1f1f1;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3 {
  color: #f1f1f1;
}
